#home {
	#form-container {
		margin: auto;
		width: 50%;
		background-color: gray;
		border: solid 1px black;
		border-radius: 5px;
		padding: 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	#main-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#plate-check {
		padding: 0px 0px 20px 0px;
		h3, h2 {
			text-align: center;
		}
		margin: auto;
		margin-bottom: 20px;
		width: 50%;
		background-color: lightBlue;
		border: solid 1px black;
		border-radius: 5px;
		#plate-check-form {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
		#access-granted {
			color: green;
		}
		#access-denied {
			color: red;
		}
	}
	zone-list, user-list, camera-list {
		width: 30%;
		padding: 0px 20px;
		border: solid 1px black;
		border-radius: 10px;
		margin: 10px;
	}

	.result-item {
		margin-bottom: 5px;
	}
}
